### IntelliJ IDEA ###
# web-application-development/apache-ant #
web-application-development/apache-ant/example-application/.idea
web-application-development/apache-ant/example-application/application-build
web-application-development/apache-ant/example-application/source/java/main/resource/library/javax.servlet-api-4.0.1.jar
web-application-development/apache-ant/example-application/example-application.iml
web-application-development/apache-ant/example-application/out
